{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create profile | {% endblock title %}
{% block content %}
<div class="row">
    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>If you already are registered, just put username and password:</p>
        <form method="POST" action="{% url "profiles:login" %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" class="form-control" id="username" aria-describedby="userHelp" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary btn-block btn-lg" type="submit">Send</button>
                </div>
              </div>
        </form>
    </div>
    {% endif %}
    <div class="col-lg mt-3">
        {% block titleRegister %}
        <h4>Register</h4>
        <p>If you are not registered, you can do it bellow:</p>

        {% endblock  %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ profileform|crispy }}
            

            <div class="row">
                <div class="col">
                  <button class="btn btn-primary btn-block btn-lg" type="submit">Send</button>
                </div>
              </div>
            
        </form>
    </div>
</div>
{% endblock content %}

